  .announcement-bar {
    background: #fff2d8;
  }

  .icon_size {
    font-size: 1.5rem;
  }

  .fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -0.0667em;
  }

  .form-control,
  .custom-select {
    height: calc(1.5em + 1.2rem + 2px);
  }